/* Estilos generales para todos los ejercicios */

.atras {
    display: block;
    margin-top: 40px;
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
.atras a {
    text-decoration: none;
    color: #333;
    border: 3px solid #333;
    padding: 5px 10px;
    transition: 0.3s ease all;
}
.atras a:hover {
    background-color: #333;
    color: #fff;
}

/* Estilos específicos para el Index*/

.index {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.index h1 {
    text-align: center;
    color: #333;
}
.index ul {
    list-style-type: none;
    padding: 0;
    display : flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.index ul li {
    margin: 10px 0;
}
.index ul li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}
.index ul li a:hover {
    color: red;
}

/* Estilos específicos para el Ejercicio 1*/

.ejercicio1 h1{
  text-align: center;
  color: #333;
  margin-bottom: 70px;
}
#colorBtn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

/* Estilos específicos para el Ejercicio 2*/

.ejercicio2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}
.ejercicio2 h1 {
    text-align: center;
    color: #333;
}

#clickBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    text-align: start;
}

#clickCount {
    text-align: center;
    font-size: 18px;
    color: #333;
}

/* Estilos específicos para el Ejercicio 3*/

.ejercicio3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}
.ejercicio3 h1 {
    text-align: center;
    color: #333;
}       

#creadorLista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: start;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

#agregarElemento {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.lista {
    margin-top: 20px;
    margin: 0 auto;
    padding: 0;
}

.lista li {
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    color: blue;
}

/* Estilos específicos para el Ejercicio 4*/

.ejercicio4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.ejercicio4 h1 {
    text-align: center;
    color: #333;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    box-sizing: border-box;
    justify-content: center;
    align-self: center;
}

.ejercicio4 #itemList {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    padding: 0;
    margin-top: 20px;
}

/* Estilos específicos para el Ejercicio 5*/

.ejercicio5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.ejercicio5 h1 {
    text-align: center;
    color: #333;
}

.ejercicio5 .operandos {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.ejercicio5 #operando1,
.ejercicio5 #operando2 {
    padding: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 60vh;
    height: 8vh;
    box-sizing: border-box;
}

.ejercicio5 .operadores {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.ejercicio5 #suma,
.ejercicio5 #resta,
.ejercicio5 #multiplicacion,
.ejercicio5 #division {
    padding: 15px;
    width: 30vh;
    height: auto;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    margin-top: 20px;
}
.ejercicio5 #resultado {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}
/* Estilos específicos para el Ejercicio 6*/

.ejercicio6 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60vh;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.ejercicio6 h1 {
    text-align: center;
    font-size: 30px;
    color: #333;
}

.ejercicio6 #display {
    align-self: center;
    color: red;
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.ejercicio6 .botones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.ejercicio6 button {
    padding: 10px 14px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

/* Estilos específicos para el Ejercicio 7*/

.ejercicio7 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60vh;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.ejercicio7 h1 {
    text-align: center;
    color: #333;
}   

.ejercicio7 label {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
    align-self: center;
}

.ejercicio7 input {
    padding: 10px;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    width: 20%;
    box-sizing: border-box;
    margin-bottom: 15px;
    align-self: center;
}

.ejercicio7 #generate {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    width: 40%;
    align-self: center;
}

.ejercicio7 #password {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-style: oblique;
}

/* Estilos específicos para el Ejercicio 8*/

.ejercicio8 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60vh;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.ejercicio8 h1 {
    text-align: center;
    color: #333;
}   

.ejercicio8 label {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
    align-self: center;
}

.ejercicio8 textarea {
    padding: 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    height: 150px;
    box-sizing: border-box;
    margin-bottom: 15px;
    align-self: center;
}

.ejercicio8 .contadores {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.ejercicio8 #contPalabras,
.ejercicio8 #contCaracteres {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}   
/* Estilos específicos para el Ejercicio 9*/

.ejercicio9 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60vh;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.ejercicio9 h1 {
    text-align: center;
    color: #333;
}

.ejercicio9 .entradaTareas {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.ejercicio9 #nuevaTarea {
    padding: 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    box-sizing: border-box;
}

.ejercicio9 #agregarTarea-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.ejercicio9 #listaTareas {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.ejercicio9 #listaTareas li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ejercicio9 #limpiarTareas-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    align-self: center;
}